#body {
    background-color: rgb(232, 231, 207);
    overflow: hidden;
}

@font-face {
  font-family: Redaction;
  src: url(Redaction35-Regular.otf);
}

#logotop {
    position: fixed;
    top: 0;
    left: 0;
    height: 84;
    width: 118;
}

#portfolio {
    position: absolute;
    font-family: Redaction;
    color: white;
    text-decoration: none;
    font-size: large;
    bottom: 15vh;
    rotate: 270deg;
    right: 0;
}

#musepod {
    position: absolute;
    font-family: Redaction;
    color: white;
    text-decoration: none;
    font-size: large;
    z-index: 10;
    bottom: 5vh;
    rotate: 270deg;
    right: 0;
}

#logo {
    position: relative;
    height: 252;
    width: 354;
    padding-bottom: 20vh;
}

#desc {
    font-family: Redaction;
    position: relative;
     font-size: 3vh;
     top: 14vh;
     margin-top: 0;
     right: 17.5vw;
     padding-bottom: 20vh;
}

#introduction {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 100%;
    background-color: rgb(197, 175, 147);
    border-radius: 15px;
}

#portfolioimage:hover {
    bottom: -170px;
}

#portfolioimage {
    position: relative;
    height: 200px;
    width: 500px;
    border-radius: 15px;
    transition: all 0.5s;
    bottom: -190;
    left: 50vh
}

#musepodimage:hover {
    bottom: -170px;
}

#musepodimage {
    position: relative;
    height: 200px;
    width: 500px;
    border-radius: 15px;
    transition: all 0.5s;
    bottom: -190;
    left: 10vh
}

#aboutme {
    position: absolute;
    font-family: Redaction;
    color: white;
    text-decoration: none;
    font-size: large;
    border-radius: 15px;
    text-align: center;
    top: 25vh;
    left: 40vw;
    background-color: rgb(161, 144, 121);
    height: 40vh;
    width: 20vw;
}
#aboutmeimage {
    position: relative;    
    height: 15vh;
    width: 6.5vw;
    border-radius: 7px;
}
#tape {
    position: absolute;
    top: 0;
    left: 0;
    height: 6vh;
    width: 5vw;
    z-index: 10;
    top: 31.5vh;
    left: 47.5vw;
    rotate: 350deg;
}

#aboutmetext {
    position: relative;
    font-family: redaction;
    font-size: 2.5vh;
}

#sitepages{
    position: absolute;
    right: 2vw;
    top: 0.2vh;
    margin-top: 0;
    font-family: redaction;
    font-size: 1.5vh;
    color: white;
    text-decoration: underline;
}