#body {
    background-color: rgb(232, 231, 207);
}

@font-face {
  font-family: Redaction;
  src: url(Redaction35-Regular.otf);
}

#logotop {
    position: fixed;
    top: 0;
    left: 0;
    height: 84;
    width: 118;
}

#portfolio {
    position: absolute;
    font-family: Redaction;
    color: white;
    text-decoration: none;
    font-size: large;
    bottom: 15vh;
}

#musepod {
    position: absolute;
    font-family: Redaction;
    color: white;
    text-decoration: none;
    font-size: large;
    z-index: 10;
    bottom: 5vh;

}

#logo {
    position: relative;
    height: 252;
    width: 354;
    padding-bottom: 20vh;
}

#desc {
    font-family: Redaction;
    position: relative;
     font-size: 3vh;
     top: 18vh;
     margin-top: 0;
     right: 300;
     padding-bottom: 20vh;
}

#introduction {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 100%;
    background-color: rgb(197, 175, 147);
    border-radius: 15px;
}

#portfolioimage:hover {
    top: -50px;
}

#portfolioimage {
    position: relative;
    height: 200px;
    width: 500px;
    border-radius: 15px;
    padding-bottom: 15vh;
    transition: all 0.5s;
    top: 0;
}
#musepodimage:hover {
    top: -50px;
}

#musepodimage {
    position: relative;
    height: 200px;
    width: 500px;
    border-radius: 15px;
    padding-bottom: 12vh;
    transition: all 0.5s;
    top: 0;
}

#box {
    background-color: rgb(171, 17, 17);
    height: 150px;
    width: 520px;
    position: relative;
    z-index: 100;
    right: 10;
    margin-top: 550px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 5px;
    border-color: black;
}