#body {
    background-color: rgb(232, 231, 207);
    overflow: hidden;
}

@font-face {
  font-family: Redaction;
  src: url(Redaction35-Regular.otf);
}

#logotop {
    position: fixed;
    top: 0;
    left: 0;
    height: 84;
    width: 118;
}

#portfolio {
    position: absolute;
    font-family: Redaction;
    color: white;
    text-decoration: none;
    font-size: large;
    bottom: 15vh;
    rotate: 270deg;
    right: 0;
}

#musepod {
    position: absolute;
    font-family: Redaction;
    color: white;
    text-decoration: none;
    font-size: large;
    z-index: 10;
    bottom: 5vh;
    rotate: 270deg;
    right: 0;
}

#logo {
    position: relative;
    height: 252;
    width: 354;
    padding-bottom: 20vh;
}

#desc {
    font-family: Redaction;
    position: relative;
     font-size: 3vh;
     top: 14vh;
     margin-top: 0;
     right: 22.5%;
     padding-bottom: 20vh;
}

#introduction {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 100%;
    background-color: rgb(197, 175, 147);
    border-radius: 15px;
}

#portfolioimage:hover {
    bottom: -17vh;
}

#portfolioimage {
    position: relative;
    height: 20vh;
    width: 29vw;
    border-radius: 15px;
    transition: all 0.5s;
    bottom: -25vh;
    left: 50vh
}

#musepodimage:hover {
    bottom: -17vh;
}

#musepodimage {
    position: relative;
    height: 20vh;
    width: 29vw;
    border-radius: 15px;
    transition: all 0.5s;
    bottom: -25vh;
    left: 10vh
}

#aboutme {
    position: absolute;
    font-family: Redaction;
    color: white;
    text-decoration: none;
    font-size: large;
    border-radius: 15px;
    text-align: center;
    top: -40vh;
    left: 40vw;
    background-color: rgb(161, 144, 121);
    height: 50vh;
    width: 20vw;
    transition: all 0.5s;
}
#aboutmeimage {
    position: relative;    
    height: 25.5vh;
    width: 11.5vw;
    border-radius: 7px;
}

#aboutmetext {
    position: relative;
    font-family: redaction;
    font-size: 2.5vh;
    top: 2vh
}

#sitepages{
    position: absolute;
    right: 2vw;
    top: 0.2vh;
    margin-top: 0;
    font-family: redaction;
    font-size: 1.5vh;
    color: white;
    text-decoration: underline;
}

#arrow {
    position: absolute;
    right: 14vw;
    top: 1vh;
}


#aboutme:hover {
    top: -1vh;
}
